.order-tracker {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 20px;
}

.order-tracker li {
    flex: 1;
    text-align: center;
    position: relative;
    color: #aaa;
}

.order-tracker li::after {
    content: '';
    position: absolute;
    top: 12px;
    right: -50%;
    width: 100%;
    height: 2px;
    background: #ddd;
}

.order-tracker li:last-child::after {
    display: none;
}

.order-tracker li.active {
    color: #28a745;
    font-weight: bold;
}

.order-tracker li.active::after {
    background: #28a745;
}
